/*      Jokerf4ce                                   */

/*      oxjs/dev/js/stakeholder.js                  */




@font-face {

    font-family: "FontAwesome"; 
    font-weight: normal; 
    font-style : normal; 

    src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0"); 

    src :   url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), 
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), 
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), 
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), 
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg"); 
}

* {

    font-family : 'Lato', sans-serif;
    font-size: 14px;
    font-weight : 300;
    

    
    line-height: 28px;
    vertical-align : center;
}

td {

    font-family : 'Lato', sans-serif;
    font-size: 14px;
    font-weight : 300;


}


div {

    font-size: 14px;
    font-weight : 500;


}

a {

    text-decoration : none ;
    font-weight : 400;


}

body {

    padding : 20px;

}



select  {

    font-size: 14px;
    font-weight : 500;


}

input {

   font-size: 14px;
   font-weight : 500;


}

td > div {


}


.SubMenu {
    
    border : none;
}

#navi {

    padding : 10px;

}

#le_table {

    width : 100%;
    height : auto;
    padding : 10px;


}

#le_submenu {

    font-family : 'Lato', sans-serif;
    font-size: 12px;
    font-weight : 300;


    padding : 10px;


}

.linkA {

    font-family : 'Lato', sans-serif;
    font-size: 14px;
    font-weight : 400;


}


.spacer {

    padding : 0 5px 0 5px;

}


td > div > a {

    padding : 10px;
    border : none;

}


#menu > tbody > tr > td > table > tbody > tr > td > div > a {


    padding : 10px;
    border : 1px  #000000 solid;

}


#div_theme { 
    
    float : left;
    min-width : 120px;
    min-height : 40px;
    
}
#select_theme {
    
    float : left;
    min-width : 80px;
    min-height : 30px;
    
}
#btn_theme {
    
    float : left;
    min-width : 80px;
    min-height : 20px;
    
}

#btn_theme:hover {
    
    cursor : pointer;
}

.rapporttitle {
    
    font-family : 'Lato', sans-serif;
    font-size: 14px;
    font-weight : 400;

}


#ox_sub_menu {
    
    border : none;
}

.bit a { 
    

}

.bit a:hover { 
    transition : 100ms;

}


/*      EOF                                         */
